@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  /*colors*/
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue-background: hsl(207, 26%, 17%);
  --very-dark-blue-text: hsl(200, 15%, 8%);
  --dark-gray-light-input: hsl(0, 0%, 52%);
  --very-light-gray-background: hsl(0, 0%, 98%);
  --just-white: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--very-dark-blue-background);
}


.header{
    padding: 25px 15px;
    background-color: var(--dark-blue);
    color: var(--just-white);
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__title{
    font-size: 16px;
}

.header .header__theme{
    display: flex;
    align-items: center;
    gap:5px;
}
.header .header__theme span{
    font-size: 14px;
}